body {
    font-family: 'Josefin Sans', sans-serif;
}

.contenedor-educacion{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-evenly;
}

.educacion{
    margin-top: 5%;
    margin-right: 20%;
}

.subcontenedor{
    margin-top: 5%;
    margin-left: 10%;
}